body {
  /* background: url("https://www.freecodecamp.org/news/content/images/2020/04/w-qjCHPZbeXCQ-unsplash.jpg"); */
}

h2 {
  color: blue;
}

h2#secondh2 {
  color: green;
}
/* h2[id="secondh2"] {
    color: green;
  } */

p#styling {
  font-size: 20px;
  /* font-family: "Hanalei Fill", cursive; */
  font-weight: 800;
  line-height: 1;
  text-decoration: underline;
}

center {
  border: 1px solid red;
}

.box {
  height: 200px;
  width: 200px;
  background-color: green;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fixed {
  position: fixed;
  top: 50px;
  right: 0;
}

.relative {
  position: relative;
  left: 50px;
}

.absolute {
  position: absolute;
  background-color: red;
  color: black;
  top: 50%;
  left: 50%;
  margin: 0;
  height: 100px;
  width: 100px;
}

.my-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.child-1 {
  height: 100px;
  width: 100px;
  /* flex-basis: 20%; */
  background-color: lightyellow;
  /* order: 4; */
}

.child-2 {
  height: 100px;
  width: 100px;
  background-color: magenta;
  /* order: 5; */
}
.child-3 {
  height: 100px;
  width: 100px;
  background-color: lightgreen;
  /* order: 1; */
}
.child-4 {
  height: 100px;
  width: 100px;
  background-color: pink;
  /* order: 2; */
}
.child-5 {
  height: 100px;
  width: 100px;
  background-color: yellow;
  /* order: 3; */
}

.container {
  height: 500px;
  width: 80%;
  background-color: lightblue;
}
