<div class="m-2">
  <div>
    <button class="btn btn-primary m-2">Get Users</button>
    <button class="btn btn-warning m-2">Post Users</button>
    <button class="btn btn-success m-2">Put Users</button>
    <button class="btn btn-danger m-2">Delete User</button>
  </div>

  <div class="m-2">
    <div class="form-group">
      <label class="control-label"> User ID</label>
      <input type="text" class="form-control" />
    </div>
    <button class="btn btn-primary m-2">Get User</button>
  </div>
</div>
