.prod-list-img {
  height: 200px;
  width: 200px;
}

.prod-list-card {
  box-shadow: 20px 20px 7px -15px #afafaf;
  cursor: pointer;
}

.prod-list-card div#right {
  border-left: 1px solid #aeaeae;
  padding: 10px;
}
